.header {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.header__hamburger-menu {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__img {
    padding: 1em;
}

.container__menu__button {
    display: none;
}

.container__menu__button:checked ~ .menu-list {
    display: block;
}

.menu-list {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.menu-list__title, .menu-list__item {
    padding: 1rem;
    background-color: var(--branco);
}

.menu-list__title {
    color: var(--laranja);
    font-weight: 700;
}

.menu-list__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__title {
    display: none;
}

.options {
    display: none;
}

.container__text {
    display: none;
}

/*quando é desktop first: max-width,
quando é mobile first: min-width*/

@media screen and (min-width: 1024px) {
    .container__title, .container__title__bold {
        display: block;
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__title {
        font-weight: 400;
        display: flex;
    }
    
    .container__title__bold {
        font-weight: 700;
    }

    .header__hamburger-menu {
        display: none;
    } 
    
    .options {
        display: flex;
    }

    .options__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .options__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__img-transparent {
        display: none;
    }

    .options__button:checked ~ .menu-list{
        display: block;
        width: auto;
   
    }

    .options__button {
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .header {
        padding: 0 2em;
    }

    .options {
        margin-right: auto;
    }

    .container__text {
        display: block;
    }


}